.set-quiz-options-img > img {
  position: relative;
  width: 100%;
  height: 250px;
}

.set-quiz-options-img > h1 {
  position: relative;
  top: -150px;
  font-size: 30pt;
}

.set-quiz-options-img > h3 {
  position: relative;
  top: -150px;
  font-size: 20pt;
}

.set-quiz-options-box {
  /* background-color: blue; */
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  width: 100%;
  height: 300px;
}

.set-quiz-options-box > div {
  font-size: 25pt;
  flex: 1;
  text-align: left;
}

.line {
  width: 150px;
}

.quiz-option-btn {
  height: 40px;
  width: 60px;
  float: right;
  margin-top: 250px;
}

.quiz-setting-result-box {
  display: flex;
  margin-top: 50px;
  margin: auto;
  width: 75%;
  border-radius: 8px;
  box-shadow: 0px 3px 10px 1px rgb(187, 187, 187);
}

.quiz-setting-result-box > div {
  flex: 1;
}
