.each-answer {
  height: 210px;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 0px 3px 10px 1px rgb(187, 187, 187);
  border: 0;
  background-color: white;
  color: black;
  white-space: nowrap;
}

.answer-number {
  line-height: 210px;
  position: relative;
  float: left;

  height: 100%;
  width: 120px;

  font-size: 25pt;
  color: #c9c9c9;
  /* background-color: khaki; */
  padding-left: 50px;
  /* color: #e7e7e7; */
}

.answer-content {
  text-align: left;
  padding-top: 40px;
  background-color: khaki;
}

.answer-content > h1 {
  position: relative;
  width: 80%;
  /* background-color: yellow; */

  color: black;
  font-size: 16pt;
  font-weight: bold;

  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.answer-content > h5 {
  display: inline-block;
  width: 80%;
  background-color: lavender;
  color: #a3a3a3;
  font-size: 14pt;
  word-break: normal;
  background-color: lawngreen;
}
