.classification-tag {
  margin: auto;
  width: 70%;
  text-align: left;
  min-width: 700px;
}
.classification-title-submit > button {
  position: relative;
  margin: 0;
  width: 120px;
  height: 30px;
  top: -47px;
  margin-left: 90%;
  font-size: 13pt;

  border-radius: 5px;
  border: 1px solid rgb(78, 78, 78);
  background-color: #535353;
  color: ivory;
}
.classification-title-submit {
  margin-top: 40px;
}
.classification-title-submit > h1 {
  position: relative;
  font-size: 30pt;
  font-weight: bold;
}
