footer {
  /* width: 1400px; */
  width: 100%;
  min-width: 1400px;
  color: white;
  margin: auto;
}

footer > div > div > div {
  float: left;
}

.footer-top {
  background-color: rgb(12, 12, 46);
  width: 1400px;
  margin: auto;
  height: 180px;
}

.footer-logo {
  width: 130px;
  height: 130px;

  margin-top: 40px;
  margin-left: 70px;
}
.footer-logo > img {
  width: 100px;
}

.footer-top-div {
  margin-top: 60px;
  /* margin-left: 100px; */
  width: 20%;
  min-width: 20px;
}

.footer-top-div > h1 {
  margin-bottom: 15px;
  font-size: 11pt;
}

.footer-top-div > h3 {
  font-size: 8pt;
}
.footer-bottom-div {
  height: 50px;
  width: 1400px;
  margin: auto;

  background-color: rgb(161, 134, 235);
}

.footer-bottom-div > h1 {
  margin-bottom: 0px;
  margin-top: 15px;
  margin-left: 100px;

  font-size: 9pt;
  float: left;
  align-content: left;
}

.expand-footer-top {
  background-color: rgb(12, 12, 46);
}

.footer-bottom-expand {
  background-color: rgb(161, 134, 235);
}
