.question-search-box {
  z-index: 2;
  position: relative;
  margin: auto;
  bottom: 80px;
  width: 50%;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0px 3px 10px 1px rgb(187, 187, 187);

  border: 0;
  background-color: white;
  color: black;
}
.main-question-search-tag {
  width: 80%;
  margin: auto;
  margin-top: 200px;
  /* background-color: blueviolet; */
}

.question-search-box > div {
  font-size: 12pt;
  position: relative;
  left: 580px;
  bottom: 50px;
  border-radius: 80px;
  padding-top: 25px;
  width: 150px;
  height: 100px;
  background-color: #e3e2f0;
}

.question-search-box > h1 {
  color: #627597;
  float: left;
  left: 40px;
  bottom: 75px;
  position: relative;
  font-size: 20pt;
}

.question-search-box > span {
  color: #627597;
  float: left;
  right: 93px;
  bottom: 30px;
  position: relative;
  font-size: 13pt;
}

.main-mypage-btn {
  background-color: white;
  color: #035bd6;

  border: 1px solid #c8d2fa;
  border-radius: 6px;
  width: 180px;
  height: 60px;
  right: 93px;
  bottom: 10px;
  position: relative;
  float: left;
}

.intro-functions {
  margin: auto;
}

.intro-functions > button {
  position: relative;
  z-index: 1;
  background-color: white;
  font-size: 13pt;
  text-align: center;
  padding-bottom: 10px;
  border: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  margin-right: 50px;
  white-space: nowrap;
  top: 17px;
}

.intro-functions > button:hover {
  border-bottom: 0.01px solid #2f00ff;
}

#search-ex {
  display: none;
}

#register-ex {
  display: none;
}

#mypage-ex {
  display: none;
}

#quiz-ex {
  display: none;
}

.intro-hr {
  border: 0.01px solid #afafaf;
}

.question-section {
  background-color: #111036;
  border-radius: 15px;
  width: 1400px;
  height: 800px;
}

.question-section > div > .search-title {
  position: relative;
  left: 100px;
  top: 60px;
  font-size: 25pt;
  color: white;
  float: left;
}

.question-section > div > h1 > img {
  width: 30px;
  margin-right: 10px;
}

.search-hr {
  position: relative;
  top: 120px;
  right: 95px;
  border: 0.01px solid #afafaf;
}

.question-section > div > .search-subtext {
  float: left;
  position: relative;
  right: 100px;
  top: 120px;
  color: white;
}

.question-section > .main-question-tags {
  position: relative;
  top: 200px;
}

.main-search-btn {
  width: 200px;
  height: 70px;
  font-size: 18pt;
  color: white;
  border: 0;
  border-radius: 40px;
  position: relative;
  background-color: #796aca;
  float: right;
  top: 200px;
  right: 100px;
}

.question-section > div > .register-title {
  position: relative;
  left: 100px;
  top: 330px;
  font-size: 25pt;
  color: white;
  float: left;
}

.register-hr {
  position: relative;
  width: 1210px;
  top: 320px;
  left: 95px;
  border: 0.01px solid #afafaf;
}

.question-section > div > .register-subtext {
  text-align: left;
  float: left;
  position: relative;
  left: 90px;
  top: 320px;
  color: white;
}

.main-register-btn {
  width: 200px;
  height: 70px;
  font-size: 18pt;
  color: white;
  border: 0;
  border-radius: 40px;
  position: relative;
  background-color: #796aca;
  float: right;
  top: 450px;
  right: 100px;
}
