#carousel-slide {
  position: relative;
  background-color: #111036;
  width: 100%;
  height: 850px;
  object-fit: cover;
  text-align: center;
  min-width: 1000px;
  margin: 0;
}
#background {
  position: relative;
  top: -1120px;
  width: 1400px;
  margin: auto;
}
.space1 {
  bottom: 80px;
  position: relative;
  z-index: 1;
  margin: auto;
  height: 880px;
  width: 1400px;
}

.main-quiz-btn {
  position: relative;
  right: 530px;
  top: -680px;
  z-index: 2;
  width: 196px;
  height: 63px;
  color: #ffffff;
  border: 0;
  border-radius: 30px 0px 30px 0px;
  font-size: 18pt;
  background-image: linear-gradient(to right, #ffab00 0%, #eb2d2e 30%, #e91388 95%, #c8198a 100%);
}

.iterview-info {
  text-align: left;
  color: white;
  position: relative;
  top: -725px;
  left: 75px;
  z-index: 2;
}

.iterview-info > h1 {
  font-weight: bold;
  font-size: 50pt;
  letter-spacing: 0.001px;
  word-spacing: -5px;
}

.iterview-info > h1 {
  font-weight: bold;
  font-size: 55pt;
}

.iterview-info > span {
  font-weight: bold;
  font-size: 18pt;
}

#deem {
  position: relative;
  width: 100%;
  z-index: 2;
  top: -80px;
}
