.main-mypage-box {
  z-index: 2;
  position: relative;
  margin: auto;
  bottom: 80px;
  width: 50%;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0px 3px 10px 1px rgb(187, 187, 187);

  border: 0;
  background-color: white;
  color: black;
}
.main-question-search-tag {
  width: 80%;
  margin: auto;
  margin-top: 200px;
  /* background-color: blueviolet; */
}

.main-mypage-box > div {
  font-size: 12pt;
  position: relative;
  left: 580px;
  bottom: 50px;
  border-radius: 80px;
  padding-top: 25px;
  width: 150px;
  height: 100px;
  background-color: #e3e2f0;
}

.main-mypage-box > h1 {
  color: #627597;
  float: left;
  left: 40px;
  bottom: 75px;
  position: relative;
  font-size: 20pt;
  font-weight: bold;
}

.main-mypage-box > span {
  color: #627597;
  float: left;
  right: 80px;
  bottom: 30px;
  position: relative;
  font-size: 13pt;
}

.main-mypage-btn {
  background-color: white;
  color: #035bd6;

  border: 1px solid #c8d2fa;
  border-radius: 6px;
  width: 180px;
  height: 60px;
  right: 475px;
  top: 15px;
  position: relative;
  float: left;
}

.intro-functions {
  margin: auto;
}

.intro-functions > button {
  position: relative;
  z-index: 1;
  background-color: white;
  font-size: 13pt;
  text-align: center;
  padding-bottom: 10px;
  border: 0;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  margin-right: 50px;
  white-space: nowrap;
  width: 127px;
  height: 36px;
  top: 16px;
}

.intro-functions > button:hover {
  border-bottom: 0.01px solid #2f00ff;
}

#search-ex {
  display: inline;
}

#register-ex {
  display: none;
}

#mypage-ex {
  display: none;
}

#quiz-ex {
  display: none;
}

.intro-hr {
  border: 0.01px solid #afafaf;
}

.main-question-section {
  padding-left: 30px;
  padding-right: 30px;

  background-color: #111036;
  border-radius: 40px;
  width: 1400px;
  height: 800px;
  box-shadow: 0px 10px 15px -2px rgb(161, 161, 161);
  margin-bottom: 90px;
}

.main-question-section > div > .search-title {
  position: relative;
  left: 100px;
  top: 60px;
  font-size: 25pt;
  color: white;
  float: left;
  font-weight: bold;
}

.main-question-section > div > h1 > img {
  width: 30px;
  margin-right: 10px;
}

.search-hr {
  position: relative;
  top: 120px;
  right: 95px;
  border: 0.01px solid #afafaf;
}

.main-question-section > div > .search-subtext {
  float: left;
  position: relative;
  right: 100px;
  top: 120px;
  color: white;
  font-size: 16pt;
  margin-top: 10px;
}

.main-question-section > .main-question-tags {
  position: relative;
  top: 200px;
}

.main-search-btn {
  width: 200px;
  height: 70px;
  font-size: 18pt;
  color: white;
  border: 0;
  border-radius: 40px;
  position: relative;
  background-color: #796aca;
  float: right;
  top: 50px;
  right: 100px;
}

.main-question-section > div > .register-title {
  position: relative;
  left: 100px;
  top: 150px;
  font-size: 25pt;
  color: white;
  float: left;
  font-weight: bold;
}

.register-hr {
  position: relative;
  width: 1150px;
  top: 150px;
  left: 95px;
  border: 0.01px solid #afafaf;
  margin-bottom: 20px;
}

.main-question-section > div > .register-subtext {
  text-align: left;
  float: left;
  position: relative;
  left: 90px;
  top: 150px;
  color: white;
  font-size: 16pt;
  margin-top: 10px;
}

.main-register-btn {
  width: 200px;
  height: 70px;
  font-size: 18pt;
  color: white;
  border: 0;
  border-radius: 40px;
  position: relative;
  background-color: #796aca;
  float: right;
  top: 250px;
  right: 100px;
}
.hit-section {
  width: 95%;
  margin: auto;
}
.hit-question-title {
  position: relative;
  left: 100px;
  float: left;
  font-size: 25pt;
  font-weight: bold;
}

.hit-question-btn {
  color: #4d4d4e;
  width: 100px;
  left: 360px;
  top: 20px;
  background-color: white;
  border: 1px solid #919191;
  border-radius: 20px;
  position: relative;
}

.hit-question-title > img {
  margin-right: 10px;
  width: 35px;
}

.hit-question-hr {
  position: relative;
  width: 1160px;

  left: 90px;
  top: 20px;
  color: #d2d2d2;
  border: 0.01px solid #afafaf;
  margin-bottom: 60px;
}

.hit-answer-title {
  position: relative;
  left: 100px;
  top: 100px;
  float: left;
  font-size: 25pt;
  font-weight: bold;
}

.hit-answer-title > img {
  margin-right: 10px;
  width: 35px;
}

.hit-answer-hr {
  position: relative;
  width: 1160px;

  left: 90px;
  top: 120px;
  color: #d2d2d2;
  border: 0.01px solid #afafaf;
  margin-bottom: 160px;
}

.hit-answer-btn {
  color: #4d4d4e;
  width: 100px;
  left: 360px;

  top: 120px;
  background-color: white;
  border: 0.7px solid #919191;
  border-radius: 20px;
  position: relative;
}

#question-login-text {
  position: relative;
  left: 10px;
}

#answer-login-text {
  position: relative;
  top: 15px;
  left: 15px;
}

.Main > .body {
  margin-bottom: 150px;
}

.hit > div > button {
  width: 1150px;
  /* margin: auto; */
  /* margin-right: 20px; */
}
