#carousel-slide {
  position: relative;
  background-color: #111036;
  width: 100%;
  height: 850px;
  object-fit: cover;
  text-align: center;
  min-width: 1000px;
  margin: 0;
}

.space1 {
  bottom: 80px;
  display: flex;
  position: relative;
  display: inline;
  z-index: 1;
  margin: auto;
  /* height: 880px; */
  width: 1400px;
}

.main-quiz-btn {
  display: inline;
  float: left;
  right: 1300px;
  top: 400px;
  z-index: 2;
  position: absolute;
  width: 196px;
  height: 63px;
  color: #ffffff;
  border: 0;
  border-radius: 30px 0px 30px 0px;
  font-size: 18pt;
  background-image: linear-gradient(to right, #ffab00 0%, #eb2d2e 30%, #e91388 95%, #c8198a 100%);
}
