.mypage-register-bookmark {
  position: relative;
}
.mypage-register-bookmark-question {
  position: relative;
  width: 80%;
  margin: auto;
  margin-left: 330px;

  min-height: 500px;

  /* background-color: rgb(255, 193, 255); */
}
