.mypage-register-like {
  position: relative;
}
.mypage-register-like-question {
  position: relative;
  width: 80%;
  margin: auto;
  margin-left: 330px;

  min-height: 500px;

  /* background-color: rgb(193, 220, 255); */
}
