.mypage {
  position: relative;
  /* float: left; */

  background-color: tomato;
  /* min-height: 300px; */
  /* margin-bottom: 0; */
}
.mypage-questions {
  position: relative;
  width: 80%;
  margin: auto;
  margin-left: 330px;

  min-height: 500px;

  background-color: violet;
}
