.mypage-navigation {
  border-bottom: 1.5px solid #e7e7e7;
}

.mypage-category {
  margin: auto;
  margin-top: 12px;
}

.mypage-category > button {
  position: relative;
  z-index: 1;
  background-color: white;
  font-size: 13pt;
  text-align: center;
  padding-bottom: 10px;
  border: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  white-space: nowrap;
}

.mypage-category > button > span {
  font-size: 14pt;
  color: #6a737d;
  padding: 12px;
}

.mypage-category > button:hover > span {
  color: black !important;
  font-weight: bold !important;
}

.mypage-category > button > img {
  width: 20px;
}
