.mypage-register-answer {
  position: relative;
}
.mypage-register-answer-question {
  position: relative;
  width: 80%;
  margin: auto;
  margin-left: 330px;

  min-height: 500px;

  /* background-color: violet; */
}
