.mypage-register-question {
  position: relative;
}
.mypage-register-question-question {
  position: relative;
  width: 80%;
  margin: auto;
  margin-left: 330px;

  min-height: 500px;

  /* background-color: rgb(223, 255, 228); */
}
