.my-page {
  min-height: 1000px;
  /* position: absolute; */
}

.mypage-category {
  margin-top: 15px;
}

.line1 {
  margin: 0;
}

.mypage-category > a {
  color: rgb(172, 172, 172);
  text-decoration: none;
}
.mypage-category > a > button {
  background-color: white;
  border: 0;
  font-size: 13pt;
  text-align: center;

  margin-right: 30px;
  margin-left: 100px;
}

.mypage-category > a > .here-title {
  padding-bottom: 10px;
  border-bottom: solid rgb(25, 25, 189);
}

.mypage-category > a > button > img {
  width: 20px;
  margin-right: 10px;
}

.my-profile {
  float: left;
  width: 25%;
  height: 800px;
  background-color: rgb(255, 255, 255);
}

.my-question {
  float: right;
  width: 75%;
  height: 800px;
}

.profile-img {
  display: block;
  margin-top: 50px;
  margin-left: 120px;
  width: 130px;
}

.my-profile > .user-name-info > .profile-logo {
  margin-left: 80px;
  margin-top: 30px;
  float: left;
  width: 30px;
}

.my-profile > .user-name-info > .user-name {
  margin-left: 10px;
  margin-top: 35px;
  margin-bottom: 20px;
  float: left;
  display: inline;
  font-size: 15pt;
}

.my-profile > .user-name-info {
  width: 370px;
  margin-top: 20px;
  display: inline;
}

.line2 {
  width: 220px;
  margin-left: 80px;
}

.user-info > h1 {
  margin-left: 80px;
  text-align: left;
  font-size: 12pt;
  color: rgb(153, 153, 153);
}

.title-name {
  background-color: white;
  border: 0;
  padding-bottom: 13px;
  border-bottom: solid rgb(25, 25, 189);
  float: left;
  font-size: 13pt;
  margin-top: 80px;
}
.title-name > img {
  width: 20px;
  margin-right: 10px;
}

.latest-order-btn {
  color: rgb(161, 161, 161) !important;
  float: right;
  width: 100px;

  margin-right: 140px;
  margin-top: 70px;

  background-color: rgb(255, 255, 255) !important;
  border-radius: 30px !important;
}

.popular-order-btn {
  color: rgb(161, 161, 161) !important;
  float: right;
  width: 100px;

  margin-top: 70px;
  margin-right: 20px;

  background-color: rgb(255, 255, 255) !important;
  border-radius: 30px !important;
}

.line3 {
  margin-top: 75px;
  width: 900px;
}
