nav {
  z-index: 3;
  background-color: #11103600;
  /* font-size: small; */
  height: 70px;
  width: 1400px;
  margin: auto;
  vertical-align: middle;
  min-width: 1000px;
  /* opacity: 30%; */
}

.logout-btn {
  margin-left: 15px;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu.show {
  position: relative !important;
  transform: translate3d(-190px, 40px, 0px) !important;
  z-index: 10 !important;
  width: 300px !important;
}

.dropdown-menu {
  position: relative;
  height: 190px !important;
  width: 300px !important;
  overflow-y: visible !important;
}

.dropdown-menu > a {
  width: 200px !important;
  text-decoration: none !important;
}

.dropdown-btn-par {
  width: 130px !important;
  height: 40px !important;
}
.dropdown-btn {
  /* width: 130px !important; */
  background-color: #111036 !important;
  border-color: white !important;
  border-radius: 30px !important;
  margin-right: 30px !important;
}

.sign-in {
  border-color: white !important;
  border-radius: 30px !important;
  width: 130px !important;
  background-color: #111036 !important;
}

.sign-in > img {
  width: 20px;
  margin-left: 8px;
}

.dropdown-btn :focus {
  border: 0 !important;
}

.dropdown-btn > img {
  width: 20px;
  margin-left: 8px;
}

.dropdown-toggle::after {
  content: none !important;
}

.nav-icon {
  margin-right: 10px;
  margin-top: 2px;
  float: left;
  width: 20px;
}

li {
  float: left;
  width: 130px !important;
}

nav .navbar-text {
  /* size: inherit; */
  margin-left: 5%;
  margin-right: 13%;
  vertical-align: middle;
}

#logo {
  height: 50px;
}

#profile-img {
  height: 35px;
  object-fit: cover;
  border-radius: 70%;
  margin-right: 10%;
}

.nav-item {
  margin-right: 5%;
  vertical-align: middle;
  font-size: 15px;
}

.nav-btn {
  text-align: left;
  margin-right: 20px;
  color: white;
  border: 0;
  background-color: #11103600;
  min-width: 130px;
}

.nav-btn:hover {
  color: rgb(149, 112, 218);
}
a.nav-link {
  color: ivory;
}

.nav-link:hover {
  color: rgb(123, 94, 255) !important;
}

.left-tab {
  width: 70%;
}

.profile-tab {
  width: 30%;
}
.right-tab {
  white-space: nowrap;
  width: 20%;
}
.sign-up.nav-item {
  margin-top: auto;
  margin-bottom: auto;
}

.btn.btn-outline-light {
  width: 100%;
  height: 80%;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 6px;
}

#Navigation {
  background-color: #111036;
}
