.each-question {
  width: 900px;
  height: 170px;
  margin: auto;
  margin-top: 40px;
  border-radius: 25px;
  box-shadow: 0px 3px 10px 1px rgb(187, 187, 187);
  white-space: nowrap;
}

.each-question > Button {
  width: 900px;
  height: 170px;
  border-radius: 25px;
  border: 0;
  background-color: white;
  color: black;
}
.each-question > Button:hover {
  color: black;

  background-color: rgba(247, 244, 255, 0.856);
}

.question-number {
  line-height: 170px;
  width: 140px;
  height: 100%;
  font-size: 30pt;
  position: relative;
  float: left;
  color: #c9c9c9;
  /* color: #e7e7e7; */
}
.question-bookmark {
  margin-top: 55px;
  position: relative;
  float: left;
  padding-right: 20px;
  border-right: solid 3px #e7e7e7;
}
.question-bookmark > h1 {
  font-size: 16pt;
}
.question-bookmark > span {
  font-size: 16pt;
  color: #c9c9c9;
}
.question-content {
  position: relative;
  float: left;
  width: 50%;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  color: #2a74dc;
  font-size: 15pt;
  overflow: hidden;
  text-overflow: ellipsis;
}
.question-tags {
  width: min-content;
  padding-left: 20px;
  font-size: 14pt;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  position: relative;
  float: left;
  color: #5b52a3;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #e0daff;
  border-radius: 30px;
  border: 0;
}

.date-or-username {
  line-height: 170px;
  position: relative;
  float: left;
  height: 100%;
  width: 150px;
}
