.question-detail-top {
  background-color: #111036;
  width: 100%;
}

.question-detail-bar {
  width: 1400px;
  margin: auto;
  background-color: #111036;
  text-align: left;
}
#top-hr-line {
  border-top: 1px solid #707070;
}
.question-detail-bar > img {
  height: 25px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.question-detail-title {
  background-color: #111036;
  height: 90px;
  width: 1400px;
  margin: auto;
}

.question-detail-title > img {
  float: left;

  width: 50px;
  height: 50px;

  margin-top: 20px;
  margin-left: 40px;
}

.question-detail-title > span {
  line-height: 90px;
  float: left;

  color: white;
  margin-left: 20px;

  font-size: 22pt;
}

.question-detail-title > button {
  font-size: 12pt;
  float: right;

  margin-right: 30px;
  margin-top: 15px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 0;
  border-radius: 4px;

  background-color: #796aca;
  color: white;
  transition-duration: 0.3s;
}

.question-detail-title > button:hover {
  background-color: #6a5db4;
}

.question-detail-content {
  min-height: 230px;
  text-align: left;
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 20px;
}

.question-detail-content > h1 {
  font-size: 16pt;
  font-weight: bold;
  padding-top: 17px;
  padding-left: 38px;
  margin-bottom: 10px;
}

.question-detail-content > span {
  padding-left: 38px;
  font-size: 14pt;
  color: #a3a3a3;
}

.question-detail-answer {
  background-color: #e3e2f0;
  margin: auto;
  padding-top: 45px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 60px;
  text-align: left;
  box-shadow: rgb(199, 199, 199) 0px 3px 5px 2px;
}
.question-detail-answer > span {
  float: left;
  font-size: 18pt;
  font-weight: bold;
}

.question-detail-others {
  text-align: left;
  height: 40px;
  width: 90%;
  margin: auto;
  margin-top: 65px;
}
.question-detail-others > h2 {
  float: left;
  font-size: 23pt;
  font-weight: bold;
}

.question-detail-others > button {
  float: right;
  background-color: #ffffff;
  color: #6a737d;
  margin-left: 10px;

  width: 90px;
  height: 30px;

  border-radius: 30px;
  border: 1px solid #cdcdd5;
  transition-duration: 0.3s;
}

.question-detail-others > button:hover {
  color: #4d4d4e !important;
  border: 1px solid #707070 !important;
}

#hr-line {
  height: 1px;
  background-color: #cccccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.queiston-detail-others-answer {
  width: 90%;
  margin: auto;
}
