.each-question {
  width: 80%;
  height: 135px;
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;
  white-space: nowrap;
}

.each-question > Button {
  width: 80%;
  height: 135px;
  border-radius: 15px;
  box-shadow: 0px 3px 10px 1px rgb(187, 187, 187);

  border: 0;
  background-color: white;
  color: black;
}
.each-question > Button:hover {
  color: black;

  background-color: rgba(247, 244, 255, 0.856);
}

.question-number {
  line-height: 135px;
  position: relative;
  float: left;

  height: 100%;
  width: 120px;

  font-size: 25pt;
  color: #c9c9c9;
  /* background-color: khaki; */
  padding-left: 20px;
  /* color: #e7e7e7; */
}
.question-bookmark {
  margin-top: 55px;
  position: relative;
  float: left;
  padding-right: 20px;
  border-right: solid 3px #e7e7e7;
}
.question-bookmark > h1 {
  font-size: 16pt;
}
.question-bookmark > span {
  font-size: 16pt;
  color: #c9c9c9;
}
.question-content {
  position: relative;
  float: left;
  width: 45%;
  /* background-color: yellow; */

  margin-top: 30px;

  color: black;
  font-size: 16pt;
  font-weight: bold;

  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.question-content > span {
  color: #a3a3a3;
  font-size: 14pt;
  font-weight: normal;
  /* background-color: burlywood; */

  overflow: hidden;
  text-overflow: ellipsis;
}
.question-tag {
  position: relative;
  float: right;
  top: -30px;
  width: 50%;
  /* background-color: cadetblue; */
  margin-top: 0;
}
.question-tags {
  line-height: 35px;

  font-size: 12pt;
  height: 35px;

  padding-left: 15px;
  padding-right: 15px;

  position: relative;
  float: right;

  /* margin-top: 50px; */
  margin-right: 4px;
  margin-left: 4px;

  border-radius: 30px;
  background-color: #efecff;
  color: #302b7d;
  border: 1px solid #cdc9ff;
}

.date-or-username {
  line-height: 170px;
  position: relative;
  float: left;
  height: 100%;
  width: 150px;
}
