.quiz-result-page {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  min-height: 1800px;
}
.set-quiz-result-img {
  height: 300px;
}

.set-quiz-result-img > img {
  position: relative;
  width: 100%;
  height: 250px;
}

.set-quiz-result-img > h1 {
  position: relative;
  top: -150px;
  font-size: 30pt;
}

.set-quiz-result-img > h3 {
  position: relative;
  top: -150px;
  font-size: 20pt;
}

.set-quiz-result-box {
  display: flex;
  width: 80%;
  margin: auto;
  height: 300px;
}

.set-quiz-result-box > div {
  font-size: 25pt;
  flex: 1;
  text-align: left;
}

.hr {
  width: 300px;
}

.user-quiz-result {
  display: relative;
  width: 300px;
  float: left;
  height: inherit;
  flex: 1;
}

.user-quiz-result-content {
  width: 300px;
  margin: auto;
}

.selectd-quiz-tag-content {
  width: 300px;
  margin: auto;
}

.quiz-time-content {
  width: 300px;
  margin: auto;
}

.solved-quiz-content > span {
  float: left;
  font-size: 25pt;
  position: relative;
  left: 200px;
}

.solved-quiz-content > .hr4 {
  position: relative;
  min-width: 800px;
  margin-top: 20px;
  margin-bottom: 30px;
  left: 150px;
  height: 2px;
  background-color: #cccccc;
  border-bottom: solid 1px #dfdfdf;
}

.solved-quiz {
  margin: auto;
  margin-top: 50px;
  padding-bottom: 100px;
}

.solved-quiz-title {
  width: 80%;
  margin: auto;
}

.solved-quiz-title > span {
  position: relative;
  float: left;
  bottom: 0px;
  font-size: 25pt;
}

.hr4 {
  position: relative;
  min-width: 800px;
  margin-top: 10px;
  margin-bottom: 20px;
  top: 60px;
  border-bottom: solid 1px #838383;
}

div > .each-questions {
  margin-top: 100px;
}

.tag-btn {
  font-size: 13pt;
  max-width: 130px;
  background-color: #e3e2f0;
  border: 0 !important;
  border-radius: 30px !important;
  margin: 10px;
}

.tag-btn:hover {
  background-color: #cfcde9;
}
