.set-quiz-options-box {
  display: flex;
  width: 80%;
  margin: auto;
  margin-left: 130px;
  height: 300px;
}

.set-quiz-options-box > div {
  font-size: 25pt;
  flex: 1;
  text-align: left;
}

.line {
  width: 300px;
}

.select-tag > h6 {
  font-size: 4pt;
}

.quiz-start-btn {
  width: 196px;
  height: 63px;
  color: #ffffff;
  border: 0 !important;
  border-radius: 30px 0px 30px 0px !important;
  /* font-size: 18pt; */
  background-image: linear-gradient(to right, #ffab00 0%, #eb2d2e 30%, #e91388 95%, #c8198a 100%);
  float: right;
  margin-top: 260px;
  margin-right: 30px;
  min-width: 100px;
}

.quiz-setting-result-box {
  background-color: #efecff;
  display: flex;
  overflow: auto;
  margin-top: 50px;
  margin: auto;
  margin-bottom: 100px;
  align-content: center;
  width: 75%;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0px 3px 10px 1px rgb(187, 187, 187);
}

.quiz-setting-result-box > div {
  text-align: left;
  flex: 1;
  padding-left: 50px;
}

.quiz-setting-result-box > div > h4 {
  margin-left: 10px;
  margin-top: 40px;
  font-size: 18pt;
}

.quiz-cnt {
  font-size: 40pt !important;
}

.quiz-setting-result-box > div > span {
  position: relative;
  margin-left: 10px;
  font-size: 20pt;
}

.quiz-dropdown {
  width: 300px;
  color: darkgray !important;
  background-color: #ffffff !important;
}

.quiz-dropdown-menu {
  position: relative;
  top: -45px !important;
  left: 190px !important;
  width: 300px !important;
  height: 150px !important;
  overflow-y: scroll !important;
}

.two-line {
  width: 250px;
  align-items: center;
  color: rgb(192, 192, 192);
}

.selected-tag-btn {
  background-color: #796aca !important;
  border: 0 !important;
  border-radius: 30px !important;
  margin: 10px;
}

.selected-tag-btn:hover {
  background-color: #635faa !important;
}

.selected-quiz-cnt {
  font-size: 60px;
}

.user-info {
  display: relative;
  width: 300px;
  float: left;
  height: inherit;
  flex: 1;
}

.user-info-content {
  width: 300px;
  margin: auto;
}

.user-info-content > span {
  color: #231d4c;
  position: relative;
  right: 20px;
  bottom: 30px;
  float: right;
  font-size: 13px;
}

.select-tag-content {
  width: 300px;
  margin: auto;
}

.comments {
  padding-left: 20px;
  margin: auto;
  font-size: 11pt;
  color: rgb(170, 170, 170);
}

.select-quiz-count-content {
  width: 300px;
  margin: auto;
}

#quiz-info-detail {
  float: right;
  width: 190px;
  height: 130px;
  background-color: #e3e2f0;
  padding-top: 23px;
  font-weight: bold;
  font-size: 14pt;
  border-radius: 70px;
  margin-top: -140px;
  margin-right: 130px;
  position: relative;
  z-index: 1;
}

.quiz-img {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 70px;
}

.quiz-img > #quiz-option-title {
  position: relative;
  top: -240px;
  font-size: 30pt;
  margin-bottom: 0;
  color: white;
  font-weight: bold;
  margin: auto;
  min-width: 1400px;
}

.quiz-img > #quiz-option-sub-title {
  position: relative;
  top: -220px;
  font-size: 16pt;
  margin-bottom: 0;
  color: white;
  line-height: 28px;
  margin: auto;
  min-width: 1400px;
}
