.classification-tag-btn {
  margin: auto;
  width: 100%;
  text-align: center;
  min-width: 700px;
}

.classification-tag-btn > button {
  line-height: 35px;
  font-size: 14pt;
  height: 35px;

  margin-top: 4px;
  margin-bottom: 14px;
  margin-right: 8px;
  margin-left: 8px;

  padding-left: 20px;
  padding-right: 20px;

  border-radius: 50px;
  transition-duration: 0.3s;
}

.classification-tag-unselected {
  background-color: #efecff;
  color: #302b7d;
  border: 0;
}

.classification-tag-selected {
  background-color: #635faa;
  color: #ffffff;
  border: 0;
}
